extends ../layout

block content 

    p
        label(for="title") Title
        input(name="title", type="text", value=book.title)
    p
        label(for="author") Author
        input(name="author", type="text", value=book.author)
    p
        label(for="genre") Genre
        input(name="genre", type="text", value=book.genre)
    p
        label(for="year") Year
        input(name="year", type="text", value=book.year)
    p
        input(type="submit" value="Submit")
    p
        a.button(href="/books") Cancel